<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-nw-todos" >
	<tr>
		<td>
			<f:translate key="tx_nwtodos_domain_model_todo.title" />
		</td>
		<td>
		{todo.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nwtodos_domain_model_todo.detail" />
		</td>
		<td>
		{todo.detail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nwtodos_domain_model_todo.ordering" />
		</td>
		<td>
		{todo.ordering}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nwtodos_domain_model_todo.due_start_time" />
		</td>
		<td>
		{todo.dueStartTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nwtodos_domain_model_todo.due_end_time" />
		</td>
		<td>
		{todo.dueEndTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nwtodos_domain_model_todo.must_do" />
		</td>
		<td>
		{todo.mustDo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nwtodos_domain_model_todo.finished" />
		</td>
		<td>
		{todo.finished}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nwtodos_domain_model_todo.category" />
		</td>
		<td>
		{todo.category}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nwtodos_domain_model_todo.links" />
		</td>
		<td>
		{todo.links}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nwtodos_domain_model_todo.files" />
		</td>
		<td>
		{todo.files}
		</td>
	</tr>
</table>
</html>