<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
<!--		<h4>EXT:nw_todos - Listing for Todos</h4>-->

		<f:flashMessages />

		<style>
			.test01{
				height: 100%;
				border: solid darkgreen 3px;
				padding-left: 10px;
				padding-top: 10px;
			}
		</style>

		<div class="container">
			<input id="pageid" type="hidden" value="{pageid}" />
			<div id="simple-list" class="row">
				<h4 class="col-12">Todo list</h4>
				<div class="col-5">
					<div id="example1" class="list-group col" ondrop="drop_list_item(event)">
						<f:for each="{todos}" key="key" as="todo">
							<div class="list-group-item" todo-uid="{todo.uid}" data-detail="{todo.detail}">{todo.title}</div>
						</f:for>
					</div>
				</div>
				<div class="col-7">
					<div class="test01">
						detail......
					</div>
				</div>
			</div>
		</div>

	</f:section>
</html>