<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h4>EXT:nw_todos - Listing for Todos</h4>

		<f:flashMessages />

		<table class="tx_nwtodos" >
			<tr>
				<th><f:translate key="tx_nwtodos_domain_model_todo.title" /></th>
				<th><f:translate key="tx_nwtodos_domain_model_todo.detail" /></th>
				<th><f:translate key="tx_nwtodos_domain_model_todo.ordering" /></th>
				<th><f:translate key="tx_nwtodos_domain_model_todo.due_start_time" /></th>
				<th><f:translate key="tx_nwtodos_domain_model_todo.due_end_time" /></th>
				<th><f:translate key="tx_nwtodos_domain_model_todo.must_do" /></th>
				<th><f:translate key="tx_nwtodos_domain_model_todo.finished" /></th>
				<th><f:translate key="tx_nwtodos_domain_model_todo.category" /></th>
				<th><f:translate key="tx_nwtodos_domain_model_todo.links" /></th>
				<th><f:translate key="tx_nwtodos_domain_model_todo.files" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{todos}" as="todo">
				<tr>
					<td><f:link.action action="show" arguments="{todo : todo}"> {todo.title}</f:link.action></td>
					<td><f:link.action action="show" arguments="{todo : todo}"> {todo.detail}</f:link.action></td>
					<td><f:link.action action="show" arguments="{todo : todo}"> {todo.ordering}</f:link.action></td>
					<td><f:link.action action="show" arguments="{todo : todo}"> {todo.dueStartTime -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{todo : todo}"> {todo.dueEndTime -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{todo : todo}"> {todo.mustDo}</f:link.action></td>
					<td><f:link.action action="show" arguments="{todo : todo}"> {todo.finished}</f:link.action></td>
					<td><f:link.action action="show" arguments="{todo : todo}"> {todo.category}</f:link.action></td>
					<td><f:link.action action="show" arguments="{todo : todo}"> {todo.links}</f:link.action></td>
					<td><f:link.action action="show" arguments="{todo : todo}"> {todo.files}</f:link.action></td>
<!--					<td><f:link.action action="edit" arguments="{todo : todo}">Edit</f:link.action></td>-->
<!--					<td><f:link.action action="delete" arguments="{todo : todo}">Delete</f:link.action></td>-->
				</tr>
			</f:for>
		</table>

<!--		<f:link.action action="new">New Todo</f:link.action>-->
	</f:section>
</html>